.alignment{
    padding-left: 15px;
}
.alignment-td{
    padding-left: 2px;
}
.alignment_th{
    padding-left: 10px;
}
.recommended_td{
    padding-left: 39px;
}
.sub-heading{
    color: #2a368e;
    text-align: right;
}
.backbutton{
    margin-top: 9%;
    padding-left: 11px;
}
.border-alignment{
    border-top:0.1rem solid;
    border-bottom:0.1rem solid;

}