.range-graph-simple {
    width: 100%;
    // height: 180px;
    /* background: url(/images/range-preview.png) no-repeat; */
    /* background-size: 295px 171px; */
    position: relative;
    // padding-bottom: 30px;
    margin: 0 auto;
}