.col-td{
    text-align: right;
}

.recommendedtable td{
font-weight:bold;
}
.next{
    margin-right: -22px;
    margin-bottom: 15px;
    padding-right: 13px;
}
.back{
    margin-left: -22px;
    padding-left: 10px;
}
.bgcolor{
    background-color: rgba(0,0,0,.05);
}

.space-bordered {
    border-top : 7px solid white;
    border-bottom : 7px solid white;
}