<div id="intro">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-12 my-auto">
                <div class="card-login">
                    <header>
                        <img src="assets/images/left_lane_logo.png" alt="LeftLane" class="brand" />
                    </header>
                    <mat-spinner strokeWidth="3" [diameter]="25" class="mat_spinner" *ngIf="showLoader">
                    </mat-spinner>
                    <section class="p-md-4">
                        <p *ngIf="invalidCode" class="errMesg">{{invalidCode}}</p>
                        <p *ngIf="succesfulPassword" class="successMesg">{{succesfulPassword}}</p>
                        <form #pageHeight [formGroup]="resetPasswordForm">
                            <label class="label-color">Reset your password</label>
                            <div class="left-border password-wrapper">
                                <input formControlName="verificationCode" class="form-control" maxlength="6"
                                    minlength="6" placeholder="Verification Code" [ngClass]="{
                                     'is-invalid':submitted && resetPasswordError.verificationCode.errors
                              }" required (focus)="invalidCode = null" />
                            </div>
                            <div *ngIf="submitted && resetPasswordError.verificationCode.errors" class="text-danger">
                                <div *ngIf="resetPasswordError.verificationCode.errors.required" style="color:red">
                                    Please enter valid verification code.
                                </div>
                                <div *ngIf="resetPasswordError.verificationCode.errors.pattern || resetPasswordError.verificationCode.errors.minlength"
                                    style="color: red;">
                                </div>
                                Please enter valid 6 digit verification code.
                            </div>
                            <br>
                            <div class="left-border password-wrapper">
                                <input [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword"
                                    class="form-control" placeholder="New Password" [ngClass]="{ 'is-invalid':submitted &&
                              resetPasswordError.newPassword.errors ||
                              (submitted && !resetPasswordError.newPassword.errors) &&
                              test(resetPasswordForm.value.newPassword) === true
                              }" required (focus)="mismatchPassword =null || invalidCode = null" />
                                <i (click)="hideNewPassword = !hideNewPassword" class="material-icons
                                    mat-icon">{{hideNewPassword ? 'visibility_off' : 'visibility'}}</i>
                            </div>
                            <div *ngIf="submitted && resetPasswordError.newPassword.errors" class="text-danger">
                                <div *ngIf="resetPasswordError.newPassword.errors.required" style="color:red">Please
                                    enter new Password.
                                </div>
                                <div *ngIf="resetPasswordError.newPassword.errors.pattern" style="color:red"
                                    class="text-danger">
                                    Password should be a minimum of 8 characters and include at least 1 each of: Upper
                                    case, Lower case, Special character (~!@#%^&*-+=), Number and
                                    Non-repeating/recurring characters
                                    or numbers (AAAA, ABCD, or 1234, 1111, etc.).
                                </div>
                            </div>
                            <div *ngIf="(submitted && !resetPasswordError.newPassword.errors) && test(resetPasswordForm.value.newPassword) === true"
                                style="color:red" class="text-danger">
                                Password should be a minimum of 8 characters and include at least 1 each of: Upper
                                case, Lower case, Special character (~!@#%^&*-+=), Number and
                                Non-repeating/recurring characters or numbers(AAAA, ABCD, or 1234, 1111, etc.).
                            </div>
                            <br>
                            <div class="form-group mb-2">
                                <div class="left-border password-wrapper">
                                    <input [type]="hideConfirmPassword ? 'password' : 'text'"
                                        formControlName="ConfirmNewPassword" class="form-control"
                                        placeholder="Confirm New Password" [ngClass]="{ 'is-invalid':submitted &&
                              resetPasswordError.ConfirmNewPassword.errors
                              }" required (focus)="mismatchPassword =null || invalidCode = null" />
                                    <i (click)="hideConfirmPassword = !hideConfirmPassword" class="material-icons
                                        mat-icon">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</i>
                                </div>
                                <div *ngIf="submitted && resetPasswordError.ConfirmNewPassword.errors"
                                    class="text-danger">
                                    <div *ngIf="resetPasswordError.ConfirmNewPassword.errors.required"
                                        style="color:red">Please enter Confirm New Password.
                                    </div>
                                </div>
                                <p *ngIf="mismatchPassword" class="errMesg">{{mismatchPassword}}</p>
                                <br>
                                <div class="reset-password-btn">
                                    <button class="button prime" type="submit" (click)='resetPassword()'>RESET
                                        PASSWORD</button>
                                </div>
                                <br>
                                <br>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>