@import "../../assets/styles/app/var.scss";

#intro {
    background: url("assets/images/Retirement_MainPictureCouple_reduced.jpg") no-repeat top right fixed;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
}

.card-login {
    background-color: white;
    padding: 1.5rem;
    // margin-top: 7.5rem;
    // margin-right: 1rem;
    margin-left: auto;
    width: 400px;

    .brand {
        max-width: 170px;
    }

    .left-border {
        .form-control {
            height: 2.5rem;
            font-size: 1rem;
        }
    }


    .text-color-blue {
        color: $colorBlue;
        margin-top: 15px;
    }

    .label-color {
        font-size: $fontSizeSmPlus;
        padding-top: 0px !important;
    }

    .font-size-note {
        font-size: $fontSizeSm;
    }

    .text-gray {
        color: $colorGray;
    }

    .button.prime {
        // margin-top: 0px !important;
        margin-right: 0px !important;
        border: 0px;
        border-radius: 0px;
        font-size: $fontSizeMd;
        text-transform: uppercase;
        font-weight: 700;
    }
}


// }

.errMesg {
    color: red;
    font-size: 14px;
}

.successMesg {
    color: green;
    font-size: 14px;
    font-weight: 500;
}

@media only screen and (min-width: 1206px) {
    .card-login {
        margin-right: -3rem;
    }
}

@media only screen and (max-width: 768px) {
    .card-login {
        margin-right: 0;
        width: auto;
        margin-top: 0;
    }
}