<div id="intro">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-12 my-auto">
                <div class="card-login">
                    <header>
                        <img src="assets/images/left_lane_logo.png" alt="LeftLane" class="brand" />
                    </header>
                    <br>
                    <mat-spinner strokeWidth="3" [diameter]="25" class="mat_spinner" *ngIf="showLoader">
                    </mat-spinner>
                    <section class="p-md-3">
                        <p *ngIf="usernotFound" class="errMesg">{{usernotFound}}</p>
                        <p *ngIf="verificationCode" class="successMesg">{{verificationCode}}</p>
                        <form #pageHeight [formGroup]="passwordForm">
                            <div class="form-group mb-5">
                                <h5 class="label-color">Enter your email and we will send you instructions to
                                    reset your password.</h5>
                                <div class="left-border">
                                    <input type="email" formControlName="email" class="form-control"
                                        placeholder="Enter email here"
                                        [ngClass]="{ 'is-invalid':submitted && passwordFormError.email.errors }"
                                        required (focus)="usernotFound = null" />
                                </div>
                                <a [routerLink]="['/signup']" routerLinkActive="active"
                                    class="text-color-blue font-size-note font-weight-bold">Don't have an
                                    account? Sign up!</a>

                                <div *ngIf="submitted && passwordFormError.email.errors" class="text-danger">
                                    <div *ngIf="passwordFormError.email.errors.required" style="color:red">Please enter
                                        Email id
                                    </div>
                                    <div *ngIf="passwordFormError.email.errors.email || passwordFormError.email.errors.pattern"
                                        style="color:red">Please enter
                                        valid Email id</div>
                                </div>
                                <br>
                                <div class="reset-password-btn">
                                    <button class="button prime" type="submit" (click)="resetPassword()">RESET
                                        PASSWORD</button>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>